# Temp files
*~
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#IPython
*.ipynb_checkpoints

# Eclipse
.cproject
.project

# Build folders
*build_dbg/
*build_rel/

# Log files
*.log

# Standard Applications 
applications-linux/scl_2rob_task_ctrl/scl_2rob_ctrl
applications-linux/scl_RParRR_ctrl/scl_RParRR
applications-linux/scl_RParRR_ctrl/scl_RParRRDual
applications-linux/scl_RParRR_ctrl/scl_RParRRDualHandle
applications-linux/scl_dynamics/scl_dynamics
applications-linux/scl_example_ctrl/run_puma.sh
applications-linux/scl_example_ctrl/scl_eg_ctrl
applications-linux/scl_gc_ctrl/scl_gc_ctrl
applications-linux/scl_graphics/scl_graphics
applications-linux/scl_graphics/scl_graphics_mod
applications-linux/scl_haptic_ctrl/scl_haptic_ctrl
applications-linux/scl_redis_ctrl/run_kinova.sh
applications-linux/scl_redis_ctrl/scl_redis_ctrl
applications-linux/scl_redis_sim/README.txt
applications-linux/scl_redis_sim/scl_redis_sim
applications-linux/scl_redis_visualizer/scl_redis_visualizer
applications-linux/scl_task_ctrl/scl_task_ctrl
applications-linux/scl_test/scl_test

# Tutorial files
tutorial/scl_advanced_creating_new_tasks/scl_advanced_creating_new_tasks
tutorial/scl_tutorial0_setup_robot/scl_tutorial0_setup_robot
tutorial/scl_tutorial1_xml_kinematics_dynamics/scl_tutorial1_xml_kinematics_dynamics
tutorial/scl_tutorial2_physics_integration/scl_tutorial2_physics_integration
tutorial/scl_tutorial3_graphics_physics_cmake/scl_tutorial3_graphics_physics_cmake
tutorial/scl_tutorial4_control_gc_op/scl_tutorial4_control_gc_op
tutorial/scl_tutorial5_control_multi_task/scl_tutorial5_control_multi_task
tutorial/scl_tutorial6_control_humanoid/scl_tutorial6_control_humanoid
