[submodule "3rdparty/sUtil"]
	path = 3rdparty/sUtil
	url = git://github.com/samirmenon/sUtil.git 
[submodule "3rdparty/otgtypeii"]
	path = 3rdparty/otgtypeii
	url = https://bitbucket.org/samirmenon/otgtypeii.git
[submodule "3rdparty/redox.git"]
	path = 3rdparty/redox.git
	url = git@github.com:samirmenon/redox.git
