# Temp files
*~

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#IPython
*.ipynb_checkpoints

# Eclipse
.cproject
.project

# Build folders
*build_dbg/
*build_rel/

# Log files
*.log
