# Temp files
*~
*.swp

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#IPython
*.ipynb_checkpoints

# Eclipse
.cproject
.project

# Build folders
*build_dbg/
*build_rel/

# Log files
*.log

# Tutorial files
tutorial/scl_advanced_creating_new_tasks/scl_advanced_creating_new_tasks
tutorial/scl_tutorial0_setup_robot/scl_tutorial0_setup_robot
tutorial/scl_tutorial1_xml_kinematics_dynamics/scl_tutorial1_xml_kinematics_dynamics
tutorial/scl_tutorial2_physics_integration/scl_tutorial2_physics_integration
tutorial/scl_tutorial3_graphics_physics_cmake/scl_tutorial3_graphics_physics_cmake
tutorial/scl_tutorial4_control_gc_op/scl_tutorial4_control_gc_op
tutorial/scl_tutorial5_control_multi_task/scl_tutorial5_control_multi_task
tutorial/scl_tutorial6_control_humanoid/scl_tutorial6_control_humanoid
